.entity {
  position: fixed; /* always position relative to viewport */
  transform: translate(-50%, -50%);
  z-index: 3;
}

.ship {
  background-image: url("../assets/sprites/ship.svg");
  background-size: cover;
  width: 60px;
  height: 30px;
  z-index: 2; /* ships go beneath asteroids and above projectiles */
}

.player {
  background-image: url("../assets/sprites/ship-player.svg");
}

.projectile {
  background-color: red;
  width: 6px;
  height: 2px;
  z-index: 1; /* projectiles go beneath other entities */
}

.asteroid {
  background-image: url("../assets/sprites/asteroid.svg");
  background-size: cover;
}

.explosion {
  background-image: url("../assets/sprites/explosion.svg");
  background-size: contain;
  animation-name: boom;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 4; /* explosions are always on top */
}

@keyframes boom {
  0%  {transform: scale(0);}
  10% {transform: scale(1.0);}
  100%{transform: scale(0);}
}

.boundary {
  position: fixed;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#boundt {
  bottom: 100vh;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000 10%);
}
#boundb {
  top: 100vh;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 10%);
}
#boundl {
  right: 100vw;
  background: linear-gradient(270deg, rgba(0,0,0,0) 0%, #000 10%);
}
#boundr {
  left: 100vw;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #000 10%);
}
